{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script>
        window.organizationListConfig = {
            canChange: {{ can_change|yesno:'true,false' }},
            canDelete: {{ can_delete|yesno:'true,false' }},
            currentOrganizationId: {{ current_organization_id|default:'null' }}
        };
    </script>
    <script src="{% static 'organization/js/list.js' %}?v=20260502"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 8%;">Id</th>
        <th scope="col" style="width: 22%;">Tienda</th>
        <th scope="col" style="width: 12%;">Codigo</th>
        <th scope="col" style="width: 16%;">Telefono</th>
        <th scope="col" style="width: 20%;">Correo</th>
        <th scope="col" style="width: 10%;">Usuarios</th>
        <th scope="col" style="width: 10%;">Estado</th>
        <th scope="col" style="width: 12%;">Opciones</th>
    </tr>
{% endblock %}
